@page "/financial-profile"

@using System.Text.Json
@using FinPlanner.Data
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web

@inject Portfolio portfolio
@inject IJSRuntime JS

<PageTitle>Financial Profile</PageTitle>

<h1>Financial Profile</h1>

<div class="d-flex gap-2 align-items-center mb-3">
    <label for="profileFileInput" class="btn btn-secondary mb-0">Load profile</label>
    <InputFile id="profileFileInput" class="d-none" OnChange="LoadFile" MaxFileSize="5000000" />
    <button class="btn btn-primary" @onclick="Save" disabled="@(!isDirty)">Download profile</button>
</div>

<div class="financial-profile-layout">
    <div class="financial-profile-panel">
        <h5>Parameters</h5>
        <table class="table table-borderless align-middle table-sm compact-table mb-0">
            <tbody>
                <tr>
                    <td class="item-name">Securities annual interest rate</td>
                    <td class="item-value">
                        @if (editingInterestRate)
                        {
                            <InputNumber @bind-Value="portfolio.SecuritiesAnnualInterestRate"
                                         class="form-control form-control-sm"
                                         @onblur="OnInterestRateBlur"
                                         @onkeydown="OnInterestRateKeyDown" />
                        }
                        else
                        {
                            <span role="button" tabindex="0" class="clickable-value" @onclick="StartEditingInterestRate">@($"{portfolio.SecuritiesAnnualInterestRate}%")</span>
                        }
                    </td>
                </tr>
            </tbody>
        </table>

        <hr />

        <div class="section-heading">
            <h5 class="mb-0">Accounts</h5>
            <button class="btn btn-link p-0 heading-add-button"
                    @onclick="() => StartAdd(AddItemType.Account)"
                    aria-label="Add Account">
                <i class="bi bi-plus-square"></i>
            </button>
        </div>
        <table class="table table-borderless align-middle table-sm compact-table mb-0">
            <tbody>
                @foreach (var account in portfolio.Accounts.OrderBy(a => a.Name, StringComparer.CurrentCultureIgnoreCase))
                {
                    <tr>
                        <td class="item-name">
                            @if (IsEditingName(account))
                            {
                                <InputText @bind-Value="account.Name"
                                           class="form-control form-control-sm"
                                           @onblur="() => StopEditingName(account, commitChanges: true)"
                                           @onkeydown="(e) => OnItemNameKeyDown(account, e)" />
                            }
                            else
                            {
                                <span role="button" tabindex="0" class="clickable-name" @onclick="() => StartEditingName(account)">@account.Name</span>
                            }
                        </td>
                        <td class="item-value">
                            @if (IsEditing(account))
                            {
                                <InputNumber @bind-Value="account.Balance"
                                             class="form-control form-control-sm"
                                             @onblur="() => StopEditing(account, commitChanges: true)"
                                             @onkeydown="(e) => OnItemValueKeyDown(account, e)" />
                            }
                            else
                            {
                                <span role="button" tabindex="0" class="clickable-value" @onclick="() => StartEditing(account)">@account.Balance.ToString("C")</span>
                            }
                        </td>
                        <td class="item-actions">
                            <button class="btn btn-link text-danger p-0" @onclick="() => DeleteAccount(account)" aria-label="Delete @account.Name">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                }

                @if (activeAddType == AddItemType.Account)
                {
                    <tr class="add-mode-row" id="@GetAddRowId(AddItemType.Account)">
                        <td class="item-name">
                            <InputText id="@GetAddNameInputId(AddItemType.Account)"
                                       @bind-Value="newItemName"
                                       class="form-control form-control-sm"
                                       @onblur="OnAddInputBlur" />
                        </td>
                        <td class="item-value">
                            <InputNumber @bind-Value="newItemValue"
                                         class="form-control form-control-sm"
                                         @onblur="OnAddInputBlur" />
                        </td>
                        <td class="item-actions">
                            <button class="btn btn-link text-success p-0 me-2"
                                    @onmousedown="PrepareAddRowAction"
                                    @onclick="SaveNewItem"
                                    aria-label="Commit new account">
                                <i class="bi bi-check-circle"></i>
                            </button>
                            <button class="btn btn-link text-secondary p-0"
                                    @onmousedown="PrepareAddRowAction"
                                    @onclick="CancelAdd"
                                    aria-label="Cancel new account">
                                <i class="bi bi-x-circle"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <hr />

        <div class="section-heading">
            <h5 class="mb-0">Income</h5>
            <button class="btn btn-link p-0 heading-add-button"
                    @onclick="() => StartAdd(AddItemType.Income)"
                    aria-label="Add Income">
                <i class="bi bi-plus-square"></i>
            </button>
        </div>
        <table class="table table-borderless align-middle table-sm compact-table mb-0">
            <tbody>
                @foreach (var income in portfolio.Income.OrderBy(i => i.Name, StringComparer.CurrentCultureIgnoreCase))
                {
                    <tr>
                        <td class="item-name">
                            @if (IsEditingName(income))
                            {
                                <InputText @bind-Value="income.Name"
                                           class="form-control form-control-sm"
                                           @onblur="() => StopEditingName(income, commitChanges: true)"
                                           @onkeydown="(e) => OnItemNameKeyDown(income, e)" />
                            }
                            else
                            {
                                <span role="button" tabindex="0" class="clickable-name" @onclick="() => StartEditingName(income)">@income.Name</span>
                            }
                        </td>
                        <td class="item-value">
                            @if (IsEditing(income))
                            {
                                <InputNumber @bind-Value="income.Amount"
                                             class="form-control form-control-sm"
                                             @onblur="() => StopEditing(income, commitChanges: true)"
                                             @onkeydown="(e) => OnItemValueKeyDown(income, e)" />
                            }
                            else
                            {
                                <span role="button" tabindex="0" class="clickable-value" @onclick="() => StartEditing(income)">@income.Amount.ToString("C")</span>
                            }
                        </td>
                        <td class="item-actions">
                            <button class="btn btn-link text-danger p-0" @onclick="() => DeleteIncome(income)" aria-label="Delete @income.Name">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                }

                @if (activeAddType == AddItemType.Income)
                {
                    <tr class="add-mode-row" id="@GetAddRowId(AddItemType.Income)">
                        <td class="item-name">
                            <InputText id="@GetAddNameInputId(AddItemType.Income)"
                                       @bind-Value="newItemName"
                                       class="form-control form-control-sm"
                                       @onblur="OnAddInputBlur" />
                        </td>
                        <td class="item-value">
                            <InputNumber @bind-Value="newItemValue"
                                         class="form-control form-control-sm"
                                         @onblur="OnAddInputBlur" />
                        </td>
                        <td class="item-actions">
                            <button class="btn btn-link text-success p-0 me-2"
                                    @onmousedown="PrepareAddRowAction"
                                    @onclick="SaveNewItem"
                                    aria-label="Commit new income">
                                <i class="bi bi-check-circle"></i>
                            </button>
                            <button class="btn btn-link text-secondary p-0"
                                    @onmousedown="PrepareAddRowAction"
                                    @onclick="CancelAdd"
                                    aria-label="Cancel new income">
                                <i class="bi bi-x-circle"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <hr />

        <div class="section-heading">
            <h5 class="mb-0">Expenses</h5>
            <button class="btn btn-link p-0 heading-add-button"
                    @onclick="() => StartAdd(AddItemType.Expense)"
                    aria-label="Add Expense">
                <i class="bi bi-plus-square"></i>
            </button>
        </div>
        <table class="table table-borderless align-middle table-sm compact-table mb-0">
            <tbody>
                @foreach (var expense in portfolio.Expenses.OrderBy(e => e.Name, StringComparer.CurrentCultureIgnoreCase))
                {
                    <tr>
                        <td class="item-name">
                            @if (IsEditingName(expense))
                            {
                                <InputText @bind-Value="expense.Name"
                                           class="form-control form-control-sm"
                                           @onblur="() => StopEditingName(expense, commitChanges: true)"
                                           @onkeydown="(e) => OnItemNameKeyDown(expense, e)" />
                            }
                            else
                            {
                                <span role="button" tabindex="0" class="clickable-name" @onclick="() => StartEditingName(expense)">@expense.Name</span>
                            }
                        </td>
                        <td class="item-value">
                            @if (IsEditing(expense))
                            {
                                <InputNumber @bind-Value="expense.Amount"
                                             class="form-control form-control-sm"
                                             @onblur="() => StopEditing(expense, commitChanges: true)"
                                             @onkeydown="(e) => OnItemValueKeyDown(expense, e)" />
                            }
                            else
                            {
                                <span role="button" tabindex="0" class="clickable-value" @onclick="() => StartEditing(expense)">@expense.Amount.ToString("C")</span>
                            }
                        </td>
                        <td class="item-actions">
                            <button class="btn btn-link text-danger p-0" @onclick="() => DeleteExpense(expense)" aria-label="Delete @expense.Name">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                }

                @if (activeAddType == AddItemType.Expense)
                {
                    <tr class="add-mode-row" id="@GetAddRowId(AddItemType.Expense)">
                        <td class="item-name">
                            <InputText id="@GetAddNameInputId(AddItemType.Expense)"
                                       @bind-Value="newItemName"
                                       class="form-control form-control-sm"
                                       @onblur="OnAddInputBlur" />
                        </td>
                        <td class="item-value">
                            <InputNumber @bind-Value="newItemValue"
                                         class="form-control form-control-sm"
                                         @onblur="OnAddInputBlur" />
                        </td>
                        <td class="item-actions">
                            <button class="btn btn-link text-success p-0 me-2"
                                    @onmousedown="PrepareAddRowAction"
                                    @onclick="SaveNewItem"
                                    aria-label="Commit new expense">
                                <i class="bi bi-check-circle"></i>
                            </button>
                            <button class="btn btn-link text-secondary p-0"
                                    @onmousedown="PrepareAddRowAction"
                                    @onclick="CancelAdd"
                                    aria-label="Cancel new expense">
                                <i class="bi bi-x-circle"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    private readonly Dictionary<object, decimal> originalValues = new();
    private readonly Dictionary<object, string> originalNames = new();
    private readonly HashSet<object> editingRows = new();
    private readonly HashSet<object> editingNameRows = new();
    private bool editingInterestRate;
    private decimal originalInterestRate;
    private bool isDirty;
    private string baselineSnapshot = string.Empty;

    private AddItemType? activeAddType;
    private string newItemName = string.Empty;
    private decimal newItemValue;
    private bool suppressAddBlurCancel;
    private bool pendingFocusNewRow;

    protected override void OnInitialized()
    {
        baselineSnapshot = SerializePortfolio();
    }

    private async Task LoadFile(InputFileChangeEventArgs e)
    {
        var file = e.File;

        using var stream = file.OpenReadStream(maxAllowedSize: 5_000_000);
        using var reader = new StreamReader(stream, System.Text.Encoding.UTF8, detectEncodingFromByteOrderMarks: true);

        string json = await reader.ReadToEndAsync();

        var data = JsonSerializer.Deserialize<Portfolio>(json);

        if (data is null)
            return;

        portfolio.Accounts = data.Accounts ?? new List<Account>();
        portfolio.Income = data.Income ?? new List<IncomeItem>();
        portfolio.Expenses = data.Expenses ?? new List<ExpenseItem>();
        portfolio.Year = data.Year;
        portfolio.SecuritiesAnnualInterestRate = data.SecuritiesAnnualInterestRate;

        editingRows.Clear();
        editingNameRows.Clear();
        originalValues.Clear();
        originalNames.Clear();
        editingInterestRate = false;
        activeAddType = null;

        baselineSnapshot = SerializePortfolio();
        UpdateDirtyState();
    }

    private async Task Save()
    {
        var json = SerializePortfolio(pretty: true);
        await SaveFileAsync("FinPlanner.json", json);
        baselineSnapshot = SerializePortfolio();
        UpdateDirtyState();
    }

    private async Task SaveFileAsync(string filename, string json)
    {
        var base64 = Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes(json));
        var url = $"data:application/json;base64,{base64}";

        await JS.InvokeVoidAsync("eval", $@"
            var a = document.createElement('a');
            a.href = '{url}';
            a.download = '{filename}';
            a.click();
        ");
    }

    private bool IsEditing(object item)
    {
        return editingRows.Contains(item);
    }

    private bool IsEditingName(object item)
    {
        return editingNameRows.Contains(item);
    }

    private void StartEditing(object item)
    {
        if (editingRows.Contains(item))
        {
            return;
        }

        originalValues[item] = GetItemValue(item);
        editingRows.Add(item);
    }

    private void StopEditing(object item, bool commitChanges)
    {
        if (!editingRows.Contains(item))
        {
            return;
        }

        editingRows.Remove(item);

        if (!commitChanges && originalValues.TryGetValue(item, out var originalValue))
        {
            SetItemValue(item, originalValue);
        }

        originalValues.Remove(item);
        UpdateDirtyState();
    }

    private void StartEditingName(object item)
    {
        if (editingNameRows.Contains(item))
        {
            return;
        }

        originalNames[item] = GetItemName(item);
        editingNameRows.Add(item);
    }

    private void StopEditingName(object item, bool commitChanges)
    {
        if (!editingNameRows.Contains(item))
        {
            return;
        }

        editingNameRows.Remove(item);

        if (!commitChanges && originalNames.TryGetValue(item, out var originalName))
        {
            SetItemName(item, originalName);
        }
        else
        {
            var updatedName = GetItemName(item).Trim();
            if (string.IsNullOrWhiteSpace(updatedName) && originalNames.TryGetValue(item, out var fallbackName))
            {
                SetItemName(item, fallbackName);
            }
            else
            {
                SetItemName(item, updatedName);
            }
        }

        originalNames.Remove(item);
        UpdateDirtyState();
    }

    private void StartEditingInterestRate()
    {
        if (editingInterestRate)
        {
            return;
        }

        originalInterestRate = portfolio.SecuritiesAnnualInterestRate;
        editingInterestRate = true;
    }

    private void StopEditingInterestRate(bool commitChanges)
    {
        if (!editingInterestRate)
        {
            return;
        }

        if (!commitChanges)
        {
            portfolio.SecuritiesAnnualInterestRate = originalInterestRate;
        }

        editingInterestRate = false;
        UpdateDirtyState();
    }

    private void OnInterestRateBlur(FocusEventArgs _)
    {
        StopEditingInterestRate(commitChanges: true);
    }

    private async Task OnInterestRateKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await BlurActiveElementAsync();
        }
        else if (e.Key == "Escape")
        {
            StopEditingInterestRate(commitChanges: false);
        }
    }

    private async Task OnItemValueKeyDown(object item, KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await BlurActiveElementAsync();
        }
        else if (e.Key == "Escape")
        {
            StopEditing(item, commitChanges: false);
        }
    }

    private async Task OnItemNameKeyDown(object item, KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await BlurActiveElementAsync();
        }
        else if (e.Key == "Escape")
        {
            StopEditingName(item, commitChanges: false);
        }
    }

    private async Task DeleteAccount(Account account)
    {
        if (await JS.InvokeAsync<bool>("confirm", $"Delete account '{account.Name}'?"))
        {
            portfolio.Accounts.Remove(account);
            editingRows.Remove(account);
            editingNameRows.Remove(account);
            originalValues.Remove(account);
            originalNames.Remove(account);
            UpdateDirtyState();
        }
    }

    private async Task DeleteIncome(IncomeItem income)
    {
        if (await JS.InvokeAsync<bool>("confirm", $"Delete income '{income.Name}'?"))
        {
            portfolio.Income.Remove(income);
            editingRows.Remove(income);
            editingNameRows.Remove(income);
            originalValues.Remove(income);
            originalNames.Remove(income);
            UpdateDirtyState();
        }
    }

    private async Task DeleteExpense(ExpenseItem expense)
    {
        if (await JS.InvokeAsync<bool>("confirm", $"Delete expense '{expense.Name}'?"))
        {
            portfolio.Expenses.Remove(expense);
            editingRows.Remove(expense);
            editingNameRows.Remove(expense);
            originalValues.Remove(expense);
            originalNames.Remove(expense);
            UpdateDirtyState();
        }
    }

    private void StartAdd(AddItemType itemType)
    {
        if (activeAddType == itemType)
        {
            return;
        }

        activeAddType = itemType;
        newItemName = string.Empty;
        newItemValue = 0;
        suppressAddBlurCancel = false;
        pendingFocusNewRow = true;
    }

    private void CancelAdd()
    {
        activeAddType = null;
        newItemName = string.Empty;
        newItemValue = 0;
        suppressAddBlurCancel = false;
        pendingFocusNewRow = false;
    }

    private void SaveNewItem()
    {
        if (activeAddType is null)
        {
            return;
        }

        var name = newItemName.Trim();
        if (string.IsNullOrWhiteSpace(name))
        {
            return;
        }

        switch (activeAddType)
        {
            case AddItemType.Account:
                portfolio.AddAccount(name, newItemValue);
                break;
            case AddItemType.Income:
                portfolio.AddIncome(name, newItemValue);
                break;
            case AddItemType.Expense:
                portfolio.AddExpense(name, newItemValue);
                break;
        }

        CancelAdd();
        UpdateDirtyState();
    }

    private async Task OnAddInputBlur(FocusEventArgs _)
    {
        if (suppressAddBlurCancel)
        {
            suppressAddBlurCancel = false;
            return;
        }

        CancelAdd();
        await InvokeAsync(StateHasChanged);
    }

    private void PrepareAddRowAction(MouseEventArgs _)
    {
        suppressAddBlurCancel = true;
    }

    private string GetAddRowId(AddItemType itemType)
    {
        return $"add-row-{itemType.ToString().ToLowerInvariant()}";
    }

    private string GetAddNameInputId(AddItemType itemType)
    {
        return $"add-name-{itemType.ToString().ToLowerInvariant()}";
    }

    private decimal GetItemValue(object item)
    {
        return item switch
        {
            Account account => account.Balance,
            IncomeItem income => income.Amount,
            ExpenseItem expense => expense.Amount,
            _ => 0m
        };
    }

    private void SetItemValue(object item, decimal value)
    {
        switch (item)
        {
            case Account account:
                account.Balance = value;
                break;
            case IncomeItem income:
                income.Amount = value;
                break;
            case ExpenseItem expense:
                expense.Amount = value;
                break;
        }
    }

    private string GetItemName(object item)
    {
        return item switch
        {
            Account account => account.Name,
            IncomeItem income => income.Name,
            ExpenseItem expense => expense.Name,
            _ => string.Empty
        };
    }

    private void SetItemName(object item, string value)
    {
        switch (item)
        {
            case Account account:
                account.Name = value;
                break;
            case IncomeItem income:
                income.Name = value;
                break;
            case ExpenseItem expense:
                expense.Name = value;
                break;
        }
    }

    private void UpdateDirtyState()
    {
        isDirty = SerializePortfolio() != baselineSnapshot;
    }

    private string SerializePortfolio(bool pretty = false)
    {
        return JsonSerializer.Serialize(portfolio, new JsonSerializerOptions { WriteIndented = pretty });
    }

    private ValueTask BlurActiveElementAsync()
    {
        return JS.InvokeVoidAsync("eval", "document.activeElement && document.activeElement.blur();");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!pendingFocusNewRow || activeAddType is null)
        {
            return;
        }

        pendingFocusNewRow = false;
        var inputId = GetAddNameInputId(activeAddType.Value);
        var rowId = GetAddRowId(activeAddType.Value);
        await JS.InvokeVoidAsync(
            "eval",
            $"(function(){{var row=document.getElementById('{rowId}');if(row){{row.scrollIntoView({{block:'nearest'}});}}var input=document.getElementById('{inputId}');if(input){{input.focus();}}}})();");
    }

    private enum AddItemType
    {
        Account,
        Income,
        Expense
    }
}
