@page "/financial-profile"

@using System.Text.Json
@using System.Text.Json.Serialization
@using FinPlanner.Data
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web

@inject Portfolio portfolio
@inject IJSRuntime JS

<PageTitle>Financial Profile</PageTitle>

<h1>Financial Profile</h1>

<div class="d-flex gap-2 align-items-center mb-3">
    <label for="profileFileInput" class="btn btn-secondary mb-0">Load profile</label>
    <InputFile id="profileFileInput" class="d-none" OnChange="LoadFile" MaxFileSize="5000000" />
    <button class="btn btn-primary" @onclick="Save" disabled="@(!isDirty)">Download profile</button>
</div>

<div class="financial-profile-layout">
    <div class="financial-profile-panel">
        <h5>Parameters</h5>
        <h6 class="parameter-subgroup-heading">Personal</h6>
        <table class="table table-borderless align-middle table-sm compact-table mb-0">
            <tbody>
                <tr>
                    <td class="item-name">Current age</td>
                    <td class="item-value">
                        @if (IsEditingParameter(ParameterField.CurrentAge))
                        {
                            <InputNumber @bind-Value="portfolio.CurrentAge"
                                         class="form-control form-control-sm"
                                         tabindex="1"
                                         @attributes="wholeNumberInputAttributes"
                                         @onkeydown="(e) => OnParameterKeyDown(ParameterField.CurrentAge, e)" />
                        }
                        else
                        {
                            <span role="button" tabindex="1" class="clickable-value" @onclick="() => StartEditingParameter(ParameterField.CurrentAge)">@portfolio.CurrentAge</span>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="item-name">Life expectancy</td>
                    <td class="item-value">
                        @if (IsEditingParameter(ParameterField.LifeExpectancy))
                        {
                            <InputNumber @bind-Value="portfolio.LifeExpectancy"
                                         class="form-control form-control-sm"
                                         tabindex="2"
                                         @attributes="wholeNumberInputAttributes"
                                         @onkeydown="(e) => OnParameterKeyDown(ParameterField.LifeExpectancy, e)" />
                        }
                        else
                        {
                            <span role="button" tabindex="2" class="clickable-value" @onclick="() => StartEditingParameter(ParameterField.LifeExpectancy)">@portfolio.LifeExpectancy</span>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="item-name">Annual expenses</td>
                    <td class="item-value">
                        @if (IsEditingParameter(ParameterField.AnnualExpenses))
                        {
                            <InputNumber @bind-Value="portfolio.AnnualExpenses"
                                         class="form-control form-control-sm"
                                         tabindex="3"
                                         @onkeydown="(e) => OnParameterKeyDown(ParameterField.AnnualExpenses, e)" />
                        }
                        else
                        {
                            <span role="button" tabindex="3" class="clickable-value" @onclick="() => StartEditingParameter(ParameterField.AnnualExpenses)">@portfolio.AnnualExpenses.ToString("C")</span>
                        }
                    </td>
                </tr>
            </tbody>
        </table>

        <h6 class="parameter-subgroup-heading mt-2">Economic</h6>
        <table class="table table-borderless align-middle table-sm compact-table mb-0">
            <tbody>
                <tr>
                    <td class="item-name">Securities annual interest rate</td>
                    <td class="item-value">
                        @if (IsEditingParameter(ParameterField.SecuritiesAnnualInterestRate))
                        {
                            <InputNumber @bind-Value="portfolio.SecuritiesAnnualInterestRate"
                                         class="form-control form-control-sm"
                                         tabindex="4"
                                         @onkeydown="(e) => OnParameterKeyDown(ParameterField.SecuritiesAnnualInterestRate, e)" />
                        }
                        else
                        {
                            <span role="button" tabindex="4" class="clickable-value" @onclick="() => StartEditingParameter(ParameterField.SecuritiesAnnualInterestRate)">@($"{portfolio.SecuritiesAnnualInterestRate}%")</span>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="item-name">Annual inflation rate</td>
                    <td class="item-value">
                        @if (IsEditingParameter(ParameterField.AnnualInflationRate))
                        {
                            <InputNumber @bind-Value="portfolio.AnnualInflationRate"
                                         class="form-control form-control-sm"
                                         tabindex="5"
                                         @onkeydown="(e) => OnParameterKeyDown(ParameterField.AnnualInflationRate, e)" />
                        }
                        else
                        {
                            <span role="button" tabindex="5" class="clickable-value" @onclick="() => StartEditingParameter(ParameterField.AnnualInflationRate)">@($"{portfolio.AnnualInflationRate}%")</span>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="item-name">Bonds annual rate of return</td>
                    <td class="item-value">
                        @if (IsEditingParameter(ParameterField.BondsAnnualRateOfReturn))
                        {
                            <InputNumber @bind-Value="portfolio.BondsAnnualRateOfReturn"
                                         class="form-control form-control-sm"
                                         tabindex="6"
                                         @onkeydown="(e) => OnParameterKeyDown(ParameterField.BondsAnnualRateOfReturn, e)" />
                        }
                        else
                        {
                            <span role="button" tabindex="6" class="clickable-value" @onclick="() => StartEditingParameter(ParameterField.BondsAnnualRateOfReturn)">@($"{portfolio.BondsAnnualRateOfReturn}%")</span>
                        }
                    </td>
                </tr>
            </tbody>
        </table>

        <hr />

        <div class="section-heading">
            <h5 class="mb-0">Accounts</h5>
            <button class="btn btn-link p-0 heading-add-button"
                    disabled="@IsSectionBusy(AddItemType.Account)"
                    @onclick="() => StartAdd(AddItemType.Account)"
                    aria-label="Add Account">
                <i class="bi bi-plus-square"></i>
            </button>
        </div>
        <table class="table table-borderless align-middle table-sm compact-table mb-0">
            @if (portfolio.Accounts.Count > 0)
            {
                <thead>
                    <tr>
                        <th class="item-name">Name</th>
                        <th class="item-type">Type</th>
                        <th class="item-holdings">Holdings</th>
                        <th class="item-value">Balance</th>
                        <th class="item-actions"></th>
                    </tr>
                </thead>
            }
            <tbody>
                @foreach (var account in portfolio.Accounts.OrderBy(a => a.Name, StringComparer.CurrentCultureIgnoreCase))
                {
                    <tr class="@(IsAccountRowEditing(account) ? "edit-mode-row" : null)">
                        <td class="item-name">
                            @if (IsEditingName(account))
                            {
                                <InputText @bind-Value="account.Name"
                                           class="form-control form-control-sm"
                                           @onkeydown="(e) => OnItemNameKeyDown(account, e)" />
                            }
                            else
                            {
                                <span role="button" tabindex="0" class="clickable-name" @onclick="() => StartEditingName(account)">@account.Name</span>
                            }
                        </td>
                        <td class="item-type">
                            @if (IsEditingType(account))
                            {
                                <InputSelect @bind-Value="account.Type"
                                             class="form-select form-select-sm"
                                             @onkeydown="(e) => OnAccountTypeKeyDown(account, e)">
                                    @foreach (var typeOption in AccountOptionDisplay.Types)
                                    {
                                        <option value="@typeOption">@typeOption.ToDisplayLabel()</option>
                                    }
                                </InputSelect>
                            }
                            else
                            {
                                <span role="button" tabindex="0" class="clickable-value" @onclick="() => StartEditingType(account)">@account.Type.ToDisplayLabel()</span>
                            }
                        </td>
                        <td class="item-holdings">
                            @if (IsEditingHoldings(account))
                            {
                                <InputSelect @bind-Value="account.Holdings"
                                             class="form-select form-select-sm"
                                             @onkeydown="(e) => OnAccountHoldingsKeyDown(account, e)">
                                    @foreach (var holdingsOption in AccountOptionDisplay.Holdings)
                                    {
                                        <option value="@holdingsOption">@holdingsOption.ToDisplayLabel()</option>
                                    }
                                </InputSelect>
                            }
                            else
                            {
                                <span role="button" tabindex="0" class="clickable-value" @onclick="() => StartEditingHoldings(account)">@account.Holdings.ToDisplayLabel()</span>
                            }
                        </td>
                        <td class="item-value">
                            @if (IsEditing(account))
                            {
                                <InputNumber @bind-Value="account.Balance"
                                             class="form-control form-control-sm"
                                             @onkeydown="(e) => OnItemValueKeyDown(account, e)" />
                            }
                            else
                            {
                                <span role="button" tabindex="0" class="clickable-value" @onclick="() => StartEditing(account)">@account.Balance.ToString("C")</span>
                            }
                        </td>
                        <td class="item-actions">
                            @if (IsAccountRowEditing(account))
                            {
                                <button class="btn btn-link text-success p-0 me-2"
                                        @onclick="() => CommitAccountEdit(account)"
                                        aria-label="Commit account edits for @account.Name">
                                    <i class="bi bi-check-circle"></i>
                                </button>
                                <button class="btn btn-link text-secondary p-0"
                                        @onclick="() => CancelAccountEdit(account)"
                                        aria-label="Cancel account edits for @account.Name">
                                    <i class="bi bi-x-circle"></i>
                                </button>
                            }
                            else
                            {
                                <button class="btn btn-link text-danger p-0" @onclick="() => DeleteAccount(account)" aria-label="Delete @account.Name">
                                    <i class="bi bi-trash"></i>
                                </button>
                            }
                        </td>
                    </tr>
                }

                @if (activeAddType == AddItemType.Account)
                {
                    <tr class="add-mode-row" id="@GetAddRowId(AddItemType.Account)">
                        <td class="item-name">
                            <InputText id="@GetAddNameInputId(AddItemType.Account)"
                                       @bind-Value="newItemName"
                                       class="form-control form-control-sm"
                                       @onkeydown="OnAddInputKeyDown" />
                        </td>
                        <td class="item-type">
                            <InputSelect @bind-Value="newAccountType"
                                         class="form-select form-select-sm"
                                         @onkeydown="OnAddInputKeyDown">
                                @foreach (var typeOption in AccountOptionDisplay.Types)
                                {
                                    <option value="@typeOption">@typeOption.ToDisplayLabel()</option>
                                }
                            </InputSelect>
                        </td>
                        <td class="item-holdings">
                            <InputSelect @bind-Value="newAccountHoldings"
                                         class="form-select form-select-sm"
                                         @onkeydown="OnAddInputKeyDown">
                                @foreach (var holdingsOption in AccountOptionDisplay.Holdings)
                                {
                                    <option value="@holdingsOption">@holdingsOption.ToDisplayLabel()</option>
                                }
                            </InputSelect>
                        </td>
                        <td class="item-value">
                            <InputNumber @bind-Value="newItemValue"
                                         class="form-control form-control-sm"
                                         @onkeydown="OnAddInputKeyDown" />
                        </td>
                        <td class="item-actions">
                            <button class="btn btn-link text-success p-0 me-2"
                                    @onclick="SaveNewItem"
                                    aria-label="Commit new account">
                                <i class="bi bi-check-circle"></i>
                            </button>
                            <button class="btn btn-link text-secondary p-0"
                                    @onclick="CancelAdd"
                                    aria-label="Cancel new account">
                                <i class="bi bi-x-circle"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <hr />

        <div class="section-heading">
            <h5 class="mb-0">Income</h5>
            <button class="btn btn-link p-0 heading-add-button"
                    disabled="@IsSectionBusy(AddItemType.Income)"
                    @onclick="() => StartAdd(AddItemType.Income)"
                    aria-label="Add Income">
                <i class="bi bi-plus-square"></i>
            </button>
        </div>
        <table class="table table-borderless align-middle table-sm compact-table mb-0">
            <tbody>
                @foreach (var income in portfolio.Income.OrderBy(i => i.Name, StringComparer.CurrentCultureIgnoreCase))
                {
                    <tr class="@(IsIncomeRowEditing(income) ? "edit-mode-row" : null)">
                        <td class="item-name">
                            @if (IsEditingName(income))
                            {
                                <InputText @bind-Value="income.Name"
                                           class="form-control form-control-sm"
                                           @onkeydown="(e) => OnItemNameKeyDown(income, e)" />
                            }
                            else
                            {
                                <span role="button" tabindex="0" class="clickable-name" @onclick="() => StartEditingName(income)">@income.Name</span>
                            }
                        </td>
                        <td class="item-value">
                            @if (IsEditing(income))
                            {
                                <InputNumber @bind-Value="income.Amount"
                                             class="form-control form-control-sm"
                                             @onkeydown="(e) => OnItemValueKeyDown(income, e)" />
                            }
                            else
                            {
                                <span role="button" tabindex="0" class="clickable-value" @onclick="() => StartEditing(income)">@income.Amount.ToString("C")</span>
                            }
                        </td>
                        <td class="item-actions">
                            @if (IsIncomeRowEditing(income))
                            {
                                <button class="btn btn-link text-success p-0 me-2"
                                        @onclick="() => CommitItemEdit(income)"
                                        aria-label="Commit income edits for @income.Name">
                                    <i class="bi bi-check-circle"></i>
                                </button>
                                <button class="btn btn-link text-secondary p-0"
                                        @onclick="() => CancelItemEdit(income)"
                                        aria-label="Cancel income edits for @income.Name">
                                    <i class="bi bi-x-circle"></i>
                                </button>
                            }
                            else
                            {
                                <button class="btn btn-link text-danger p-0" @onclick="() => DeleteIncome(income)" aria-label="Delete @income.Name">
                                    <i class="bi bi-trash"></i>
                                </button>
                            }
                        </td>
                    </tr>
                }

                @if (activeAddType == AddItemType.Income)
                {
                    <tr class="add-mode-row" id="@GetAddRowId(AddItemType.Income)">
                        <td class="item-name">
                            <InputText id="@GetAddNameInputId(AddItemType.Income)"
                                       @bind-Value="newItemName"
                                       class="form-control form-control-sm"
                                       @onkeydown="OnAddInputKeyDown" />
                        </td>
                        <td class="item-value">
                            <InputNumber @bind-Value="newItemValue"
                                         class="form-control form-control-sm"
                                         @onkeydown="OnAddInputKeyDown" />
                        </td>
                        <td class="item-actions">
                            <button class="btn btn-link text-success p-0 me-2"
                                    @onclick="SaveNewItem"
                                    aria-label="Commit new income">
                                <i class="bi bi-check-circle"></i>
                            </button>
                            <button class="btn btn-link text-secondary p-0"
                                    @onclick="CancelAdd"
                                    aria-label="Cancel new income">
                                <i class="bi bi-x-circle"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <hr />

        <div class="section-heading">
            <h5 class="mb-0">Expenses</h5>
            <button class="btn btn-link p-0 heading-add-button"
                    disabled="@IsSectionBusy(AddItemType.Expense)"
                    @onclick="() => StartAdd(AddItemType.Expense)"
                    aria-label="Add Expense">
                <i class="bi bi-plus-square"></i>
            </button>
        </div>
        <table class="table table-borderless align-middle table-sm compact-table mb-0">
            <tbody>
                @foreach (var expense in portfolio.Expenses.OrderBy(e => e.Name, StringComparer.CurrentCultureIgnoreCase))
                {
                    <tr class="@(IsExpenseRowEditing(expense) ? "edit-mode-row" : null)">
                        <td class="item-name">
                            @if (IsEditingName(expense))
                            {
                                <InputText @bind-Value="expense.Name"
                                           class="form-control form-control-sm"
                                           @onkeydown="(e) => OnItemNameKeyDown(expense, e)" />
                            }
                            else
                            {
                                <span role="button" tabindex="0" class="clickable-name" @onclick="() => StartEditingName(expense)">@expense.Name</span>
                            }
                        </td>
                        <td class="item-value">
                            @if (IsEditing(expense))
                            {
                                <InputNumber @bind-Value="expense.Amount"
                                             class="form-control form-control-sm"
                                             @onkeydown="(e) => OnItemValueKeyDown(expense, e)" />
                            }
                            else
                            {
                                <span role="button" tabindex="0" class="clickable-value" @onclick="() => StartEditing(expense)">@expense.Amount.ToString("C")</span>
                            }
                        </td>
                        <td class="item-actions">
                            @if (IsExpenseRowEditing(expense))
                            {
                                <button class="btn btn-link text-success p-0 me-2"
                                        @onclick="() => CommitItemEdit(expense)"
                                        aria-label="Commit expense edits for @expense.Name">
                                    <i class="bi bi-check-circle"></i>
                                </button>
                                <button class="btn btn-link text-secondary p-0"
                                        @onclick="() => CancelItemEdit(expense)"
                                        aria-label="Cancel expense edits for @expense.Name">
                                    <i class="bi bi-x-circle"></i>
                                </button>
                            }
                            else
                            {
                                <button class="btn btn-link text-danger p-0" @onclick="() => DeleteExpense(expense)" aria-label="Delete @expense.Name">
                                    <i class="bi bi-trash"></i>
                                </button>
                            }
                        </td>
                    </tr>
                }

                @if (activeAddType == AddItemType.Expense)
                {
                    <tr class="add-mode-row" id="@GetAddRowId(AddItemType.Expense)">
                        <td class="item-name">
                            <InputText id="@GetAddNameInputId(AddItemType.Expense)"
                                       @bind-Value="newItemName"
                                       class="form-control form-control-sm"
                                       @onkeydown="OnAddInputKeyDown" />
                        </td>
                        <td class="item-value">
                            <InputNumber @bind-Value="newItemValue"
                                         class="form-control form-control-sm"
                                         @onkeydown="OnAddInputKeyDown" />
                        </td>
                        <td class="item-actions">
                            <button class="btn btn-link text-success p-0 me-2"
                                    @onclick="SaveNewItem"
                                    aria-label="Commit new expense">
                                <i class="bi bi-check-circle"></i>
                            </button>
                            <button class="btn btn-link text-secondary p-0"
                                    @onclick="CancelAdd"
                                    aria-label="Cancel new expense">
                                <i class="bi bi-x-circle"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    private readonly Dictionary<object, decimal> originalValues = new();
    private readonly Dictionary<object, string> originalNames = new();
    private readonly Dictionary<Account, AccountType> originalAccountTypes = new();
    private readonly Dictionary<Account, AccountHoldings> originalAccountHoldings = new();
    private readonly Dictionary<string, object> wholeNumberInputAttributes = new()
    {
        ["step"] = "1",
        ["min"] = "0",
        ["inputmode"] = "numeric",
        ["pattern"] = "[0-9]*",
        ["onkeydown"] = "return ['Backspace','Delete','ArrowLeft','ArrowRight','Tab','Home','End','Enter','Escape'].includes(event.key) || /^[0-9]$/.test(event.key);"
    };
    private readonly HashSet<object> editingRows = new();
    private readonly HashSet<object> editingNameRows = new();
    private readonly HashSet<Account> editingTypeRows = new();
    private readonly HashSet<Account> editingHoldingsRows = new();
    private readonly Dictionary<ParameterField, decimal> originalParameterValues = new();
    private readonly HashSet<ParameterField> editingParameters = new();
    private bool isDirty;
    private string baselineSnapshot = string.Empty;

    private AddItemType? activeAddType;
    private string newItemName = string.Empty;
    private decimal newItemValue;
    private AccountType newAccountType = AccountType.Brokerage;
    private AccountHoldings newAccountHoldings = AccountHoldings.Equities;
    private bool pendingFocusNewRow;
    private static readonly JsonSerializerOptions profileJsonOptions = CreateProfileJsonOptions();

    protected override void OnInitialized()
    {
        baselineSnapshot = SerializePortfolio();
    }

    private async Task LoadFile(InputFileChangeEventArgs e)
    {
        var file = e.File;

        using var stream = file.OpenReadStream(maxAllowedSize: 5_000_000);
        using var reader = new StreamReader(stream, System.Text.Encoding.UTF8, detectEncodingFromByteOrderMarks: true);

        string json = await reader.ReadToEndAsync();

        var data = JsonSerializer.Deserialize<Portfolio>(json, profileJsonOptions);

        if (data is null)
            return;

        portfolio.Accounts = data.Accounts ?? new List<Account>();
        portfolio.Income = data.Income ?? new List<IncomeItem>();
        portfolio.Expenses = data.Expenses ?? new List<ExpenseItem>();
        portfolio.Year = data.Year;
        portfolio.SecuritiesAnnualInterestRate = data.SecuritiesAnnualInterestRate;
        portfolio.AnnualInflationRate = data.AnnualInflationRate;
        portfolio.CurrentAge = data.CurrentAge;
        portfolio.LifeExpectancy = data.LifeExpectancy;
        portfolio.AnnualExpenses = data.AnnualExpenses;
        portfolio.BondsAnnualRateOfReturn = data.BondsAnnualRateOfReturn;

        editingRows.Clear();
        editingNameRows.Clear();
        editingTypeRows.Clear();
        editingHoldingsRows.Clear();
        originalValues.Clear();
        originalNames.Clear();
        originalAccountTypes.Clear();
        originalAccountHoldings.Clear();
        editingParameters.Clear();
        originalParameterValues.Clear();
        activeAddType = null;

        baselineSnapshot = SerializePortfolio();
        UpdateDirtyState();
    }

    private async Task Save()
    {
        var json = SerializePortfolio(pretty: true);
        await SaveFileAsync("FinPlanner.json", json);
        baselineSnapshot = SerializePortfolio();
        UpdateDirtyState();
    }

    private async Task SaveFileAsync(string filename, string json)
    {
        var base64 = Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes(json));
        var url = $"data:application/json;base64,{base64}";

        await JS.InvokeVoidAsync("eval", $@"
            var a = document.createElement('a');
            a.href = '{url}';
            a.download = '{filename}';
            a.click();
        ");
    }

    private bool IsEditing(object item)
    {
        return editingRows.Contains(item);
    }

    private bool IsEditingName(object item)
    {
        return editingNameRows.Contains(item);
    }

    private bool IsEditingType(Account account)
    {
        return editingTypeRows.Contains(account);
    }

    private bool IsEditingHoldings(Account account)
    {
        return editingHoldingsRows.Contains(account);
    }

    private void StartEditing(object item)
    {
        if (editingRows.Contains(item))
        {
            return;
        }

        if (!CanStartSectionEdit(item))
        {
            return;
        }

        originalValues[item] = GetItemValue(item);
        editingRows.Add(item);
    }

    private void StopEditing(object item, bool commitChanges)
    {
        if (!editingRows.Contains(item))
        {
            return;
        }

        editingRows.Remove(item);

        if (!commitChanges && originalValues.TryGetValue(item, out var originalValue))
        {
            SetItemValue(item, originalValue);
        }

        originalValues.Remove(item);
        UpdateDirtyState();
    }

    private void StartEditingName(object item)
    {
        if (editingNameRows.Contains(item))
        {
            return;
        }

        if (!CanStartSectionEdit(item))
        {
            return;
        }

        originalNames[item] = GetItemName(item);
        editingNameRows.Add(item);
    }

    private void StopEditingName(object item, bool commitChanges)
    {
        if (!editingNameRows.Contains(item))
        {
            return;
        }

        editingNameRows.Remove(item);

        if (!commitChanges && originalNames.TryGetValue(item, out var originalName))
        {
            SetItemName(item, originalName);
        }
        else
        {
            var updatedName = GetItemName(item).Trim();
            if (string.IsNullOrWhiteSpace(updatedName) && originalNames.TryGetValue(item, out var fallbackName))
            {
                SetItemName(item, fallbackName);
            }
            else
            {
                SetItemName(item, updatedName);
            }
        }

        originalNames.Remove(item);
        UpdateDirtyState();
    }

    private bool IsEditingParameter(ParameterField parameter)
    {
        return editingParameters.Contains(parameter);
    }

    private void StartEditingParameter(ParameterField parameter)
    {
        if (editingParameters.Contains(parameter))
        {
            return;
        }

        originalParameterValues[parameter] = GetParameterValue(parameter);
        editingParameters.Add(parameter);
    }

    private void StopEditingParameter(ParameterField parameter, bool commitChanges)
    {
        if (!editingParameters.Contains(parameter))
        {
            return;
        }

        editingParameters.Remove(parameter);

        if (!commitChanges && originalParameterValues.TryGetValue(parameter, out var originalValue))
        {
            SetParameterValue(parameter, originalValue);
        }

        originalParameterValues.Remove(parameter);
        UpdateDirtyState();
    }

    private void OnParameterKeyDown(ParameterField parameter, KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            StopEditingParameter(parameter, commitChanges: true);
        }
        else if (e.Key == "Escape")
        {
            StopEditingParameter(parameter, commitChanges: false);
        }
    }

    private void OnItemValueKeyDown(object item, KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            CommitItemEdit(item);
        }
        else if (e.Key == "Escape")
        {
            CancelItemEdit(item);
        }
    }

    private void OnItemNameKeyDown(object item, KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            CommitItemEdit(item);
        }
        else if (e.Key == "Escape")
        {
            CancelItemEdit(item);
        }
    }

    private void StartEditingType(Account account)
    {
        if (editingTypeRows.Contains(account))
        {
            return;
        }

        if (!CanStartSectionEdit(account))
        {
            return;
        }

        originalAccountTypes[account] = account.Type;
        editingTypeRows.Add(account);
    }

    private void StopEditingType(Account account, bool commitChanges)
    {
        if (!editingTypeRows.Contains(account))
        {
            return;
        }

        editingTypeRows.Remove(account);
        if (!commitChanges && originalAccountTypes.TryGetValue(account, out var originalType))
        {
            account.Type = originalType;
        }

        originalAccountTypes.Remove(account);
        UpdateDirtyState();
    }

    private void OnAccountTypeKeyDown(Account account, KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            CommitAccountEdit(account);
        }
        else if (e.Key == "Escape")
        {
            CancelAccountEdit(account);
        }
    }

    private void StartEditingHoldings(Account account)
    {
        if (editingHoldingsRows.Contains(account))
        {
            return;
        }

        if (!CanStartSectionEdit(account))
        {
            return;
        }

        originalAccountHoldings[account] = account.Holdings;
        editingHoldingsRows.Add(account);
    }

    private void StopEditingHoldings(Account account, bool commitChanges)
    {
        if (!editingHoldingsRows.Contains(account))
        {
            return;
        }

        editingHoldingsRows.Remove(account);
        if (!commitChanges && originalAccountHoldings.TryGetValue(account, out var originalHoldings))
        {
            account.Holdings = originalHoldings;
        }

        originalAccountHoldings.Remove(account);
        UpdateDirtyState();
    }

    private void OnAccountHoldingsKeyDown(Account account, KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            CommitAccountEdit(account);
        }
        else if (e.Key == "Escape")
        {
            CancelAccountEdit(account);
        }
    }

    private async Task DeleteAccount(Account account)
    {
        if (await JS.InvokeAsync<bool>("confirm", $"Delete account '{account.Name}'?"))
        {
            portfolio.Accounts.Remove(account);
            editingRows.Remove(account);
            editingNameRows.Remove(account);
            editingTypeRows.Remove(account);
            editingHoldingsRows.Remove(account);
            originalValues.Remove(account);
            originalNames.Remove(account);
            originalAccountTypes.Remove(account);
            originalAccountHoldings.Remove(account);
            UpdateDirtyState();
        }
    }

    private async Task DeleteIncome(IncomeItem income)
    {
        if (await JS.InvokeAsync<bool>("confirm", $"Delete income '{income.Name}'?"))
        {
            portfolio.Income.Remove(income);
            editingRows.Remove(income);
            editingNameRows.Remove(income);
            originalValues.Remove(income);
            originalNames.Remove(income);
            UpdateDirtyState();
        }
    }

    private async Task DeleteExpense(ExpenseItem expense)
    {
        if (await JS.InvokeAsync<bool>("confirm", $"Delete expense '{expense.Name}'?"))
        {
            portfolio.Expenses.Remove(expense);
            editingRows.Remove(expense);
            editingNameRows.Remove(expense);
            originalValues.Remove(expense);
            originalNames.Remove(expense);
            UpdateDirtyState();
        }
    }

    private void StartAdd(AddItemType itemType)
    {
        if (activeAddType == itemType || IsSectionBusy(itemType))
        {
            return;
        }

        activeAddType = itemType;
        newItemName = string.Empty;
        newItemValue = 0;
        newAccountType = AccountType.Brokerage;
        newAccountHoldings = AccountHoldings.Equities;
        pendingFocusNewRow = true;
    }

    private void CancelAdd()
    {
        activeAddType = null;
        newItemName = string.Empty;
        newItemValue = 0;
        newAccountType = AccountType.Brokerage;
        newAccountHoldings = AccountHoldings.Equities;
        pendingFocusNewRow = false;
    }

    private void SaveNewItem()
    {
        if (activeAddType is null)
        {
            return;
        }

        var name = newItemName.Trim();
        if (string.IsNullOrWhiteSpace(name))
        {
            return;
        }

        switch (activeAddType)
        {
            case AddItemType.Account:
                portfolio.AddAccount(name, newItemValue, newAccountType, newAccountHoldings);
                break;
            case AddItemType.Income:
                portfolio.AddIncome(name, newItemValue);
                break;
            case AddItemType.Expense:
                portfolio.AddExpense(name, newItemValue);
                break;
        }

        CancelAdd();
        UpdateDirtyState();
    }

    private void OnAddInputKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            SaveNewItem();
        }
        else if (e.Key == "Escape")
        {
            CancelAdd();
        }
    }

    private string GetAddRowId(AddItemType itemType)
    {
        return $"add-row-{itemType.ToString().ToLowerInvariant()}";
    }

    private string GetAddNameInputId(AddItemType itemType)
    {
        return $"add-name-{itemType.ToString().ToLowerInvariant()}";
    }

    private decimal GetItemValue(object item)
    {
        return item switch
        {
            Account account => account.Balance,
            IncomeItem income => income.Amount,
            ExpenseItem expense => expense.Amount,
            _ => 0m
        };
    }

    private void SetItemValue(object item, decimal value)
    {
        switch (item)
        {
            case Account account:
                account.Balance = value;
                break;
            case IncomeItem income:
                income.Amount = value;
                break;
            case ExpenseItem expense:
                expense.Amount = value;
                break;
        }
    }

    private string GetItemName(object item)
    {
        return item switch
        {
            Account account => account.Name,
            IncomeItem income => income.Name,
            ExpenseItem expense => expense.Name,
            _ => string.Empty
        };
    }

    private void SetItemName(object item, string value)
    {
        switch (item)
        {
            case Account account:
                account.Name = value;
                break;
            case IncomeItem income:
                income.Name = value;
                break;
            case ExpenseItem expense:
                expense.Name = value;
                break;
        }
    }

    private decimal GetParameterValue(ParameterField parameter)
    {
        return parameter switch
        {
            ParameterField.CurrentAge => portfolio.CurrentAge,
            ParameterField.LifeExpectancy => portfolio.LifeExpectancy,
            ParameterField.AnnualExpenses => portfolio.AnnualExpenses,
            ParameterField.SecuritiesAnnualInterestRate => portfolio.SecuritiesAnnualInterestRate,
            ParameterField.AnnualInflationRate => portfolio.AnnualInflationRate,
            ParameterField.BondsAnnualRateOfReturn => portfolio.BondsAnnualRateOfReturn,
            _ => 0m
        };
    }

    private void SetParameterValue(ParameterField parameter, decimal value)
    {
        switch (parameter)
        {
            case ParameterField.CurrentAge:
                portfolio.CurrentAge = decimal.ToInt32(decimal.Truncate(value));
                break;
            case ParameterField.LifeExpectancy:
                portfolio.LifeExpectancy = decimal.ToInt32(decimal.Truncate(value));
                break;
            case ParameterField.AnnualExpenses:
                portfolio.AnnualExpenses = value;
                break;
            case ParameterField.SecuritiesAnnualInterestRate:
                portfolio.SecuritiesAnnualInterestRate = value;
                break;
            case ParameterField.AnnualInflationRate:
                portfolio.AnnualInflationRate = value;
                break;
            case ParameterField.BondsAnnualRateOfReturn:
                portfolio.BondsAnnualRateOfReturn = value;
                break;
        }
    }

    private void UpdateDirtyState()
    {
        isDirty = SerializePortfolio() != baselineSnapshot;
        portfolio.NotifyStateChanged();
    }

    private string SerializePortfolio(bool pretty = false)
    {
        var options = CreateProfileJsonOptions();
        options.WriteIndented = pretty;
        return JsonSerializer.Serialize(portfolio, options);
    }

    private static JsonSerializerOptions CreateProfileJsonOptions()
    {
        var options = new JsonSerializerOptions();
        options.Converters.Add(new JsonStringEnumConverter());
        return options;
    }

    private bool IsSectionBusy(AddItemType itemType)
    {
        if (activeAddType == itemType)
        {
            return true;
        }

        return itemType switch
        {
            AddItemType.Account => editingRows.OfType<Account>().Any()
                || editingNameRows.OfType<Account>().Any()
                || editingTypeRows.Any()
                || editingHoldingsRows.Any(),
            AddItemType.Income => editingRows.OfType<IncomeItem>().Any()
                || editingNameRows.OfType<IncomeItem>().Any(),
            AddItemType.Expense => editingRows.OfType<ExpenseItem>().Any()
                || editingNameRows.OfType<ExpenseItem>().Any(),
            _ => false
        };
    }

    private bool CanStartSectionEdit(object item)
    {
        var itemType = GetSectionType(item);
        if (itemType is null)
        {
            return false;
        }

        if (activeAddType == itemType)
        {
            return false;
        }

        var activeRow = GetActiveEditRow(itemType.Value);
        return activeRow is null || ReferenceEquals(activeRow, item);
    }

    private AddItemType? GetSectionType(object item)
    {
        return item switch
        {
            Account => AddItemType.Account,
            IncomeItem => AddItemType.Income,
            ExpenseItem => AddItemType.Expense,
            _ => null
        };
    }

    private object? GetActiveEditRow(AddItemType itemType)
    {
        return itemType switch
        {
            AddItemType.Account => editingRows.OfType<Account>().Cast<object>().FirstOrDefault()
                ?? editingNameRows.OfType<Account>().Cast<object>().FirstOrDefault()
                ?? editingTypeRows.Cast<object>().FirstOrDefault()
                ?? editingHoldingsRows.Cast<object>().FirstOrDefault(),
            AddItemType.Income => editingRows.OfType<IncomeItem>().Cast<object>().FirstOrDefault()
                ?? editingNameRows.OfType<IncomeItem>().Cast<object>().FirstOrDefault(),
            AddItemType.Expense => editingRows.OfType<ExpenseItem>().Cast<object>().FirstOrDefault()
                ?? editingNameRows.OfType<ExpenseItem>().Cast<object>().FirstOrDefault(),
            _ => null
        };
    }

    private bool IsAccountRowEditing(Account account)
    {
        return editingRows.Contains(account)
            || editingNameRows.Contains(account)
            || editingTypeRows.Contains(account)
            || editingHoldingsRows.Contains(account);
    }

    private bool IsIncomeRowEditing(IncomeItem income)
    {
        return editingRows.Contains(income) || editingNameRows.Contains(income);
    }

    private bool IsExpenseRowEditing(ExpenseItem expense)
    {
        return editingRows.Contains(expense) || editingNameRows.Contains(expense);
    }

    private void CommitItemEdit(object item)
    {
        StopEditingName(item, commitChanges: true);
        StopEditing(item, commitChanges: true);
    }

    private void CancelItemEdit(object item)
    {
        StopEditingName(item, commitChanges: false);
        StopEditing(item, commitChanges: false);
    }

    private void CommitAccountEdit(Account account)
    {
        StopEditingName(account, commitChanges: true);
        StopEditingType(account, commitChanges: true);
        StopEditingHoldings(account, commitChanges: true);
        StopEditing(account, commitChanges: true);
    }

    private void CancelAccountEdit(Account account)
    {
        StopEditingName(account, commitChanges: false);
        StopEditingType(account, commitChanges: false);
        StopEditingHoldings(account, commitChanges: false);
        StopEditing(account, commitChanges: false);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!pendingFocusNewRow || activeAddType is null)
        {
            return;
        }

        pendingFocusNewRow = false;
        var inputId = GetAddNameInputId(activeAddType.Value);
        var rowId = GetAddRowId(activeAddType.Value);
        await JS.InvokeVoidAsync(
            "eval",
            $"(function(){{var row=document.getElementById('{rowId}');if(row){{row.scrollIntoView({{block:'nearest'}});}}var input=document.getElementById('{inputId}');if(input){{input.focus();}}}})();");
    }

    private enum AddItemType
    {
        Account,
        Income,
        Expense
    }

    private enum ParameterField
    {
        CurrentAge,
        LifeExpectancy,
        AnnualExpenses,
        SecuritiesAnnualInterestRate,
        AnnualInflationRate,
        BondsAnnualRateOfReturn
    }
}
